<div class="card">
   
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body" style="font-size: small">
        <button class="btn btn-primary" (click)="bookTrip()" *hasClaim="'IsCustomer'">Book Trip</button>
        <div class='table-responsive'>
            <table class="table" *ngIf='trips && trips.length'>
                <thead>
                    <tr>
                        <th *hasClaim="['IsCustomer','IsEmployee']">Trip ID</th>
                        <th>Source Location</th>
                        <th>Destination Location</th>
                        <th>Time</th>
                        <th>Vehicle</th>
                        <th>Confirmed?</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let trip of trips'>
                        <td *hasClaim="['IsCustomer','IsEmployee']"><a [routerLink]="['/booktrip', trip.id]" >{{trip.id}}</a></td>
                        <td>{{trip.sourceLocation}}</td>
                        <td>{{trip.destinationLocation}}</td>
                        <td>{{trip.time}}</td>
                        <td>{{trip.vehicleid}}</td>
                        <td>{{trip.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>