<div class='card'>
    <div class="card-header">
     {{pageTitle}}
    </div>
    <div class="card-body" style="font-size: small">
            <div class="row">
                    <div class="col-md-2">Source Location:</div>
                    <div class='col-md-4'>
                        <input type="text" [(ngModel)]='sourceLocation'/>
                    </div>
                    <div class="col-md-2">Destination Location:</div>
                    <div class='col-md-4'>
                        <input type="text" [(ngModel)]='destinationLocation'/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-2">Vehicle:</div>
                    <div class='col-md-4'>
                        <input type="text" [(ngModel)]='vehicleid'/>
                    </div>
                    <div class="col-md-2">Time:</div>
                    <div class='col-md-4'>
                        <input type="text" [(ngModel)]='time'/>
                    </div>
                </div>
                <br/>
                <div class="row">
                        <div class="col-md-5"></div>
                    <ng-container *ngIf="!enableAdd">
                        <div class='col-md-2'>
                            <button class="btn btn-primary"
                            *hasClaim="'IsCustomer'" (click)="cancelTrip()">Cancel Trip</button>
                        </div>
                        <div class='col-md-2'>
                                <button class="btn btn-primary"
                                *hasClaim="'IsEmployee:true'" (click)="confirmTrip()">Confirm Trip</button>
                        </div>
                    </ng-container>
                        <div class='col-md-2'>
                            <ng-container *ngIf="enableAdd">
                                <button class="btn btn-primary"
                                *hasClaim="'IsCustomer'" (click)="addTrip()">Add Trip</button>
                            </ng-container>
                        </div>
                </div>
    </div>
    
    <div class="card-footer">
        <button class="btn btn-outline-secondary" (click)='onBack()' style='width:80px'>
            <i class="fa fa-chevron-left"></i> Back 
        </button>
    </div>
</div>
