<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    <nav class="nav navbar-expand navbar-light bg-light">
      <ul class="nav nav-pills">
          <li><a [routerLink]="['/home']" class="nav-link">Home</a></li>
        <li>
          <ng-container *ngIf="securityObject.isAuthenticated">
            <a [routerLink]="['/booktrip']" class="nav-link" *hasClaim="['IsCustomer','IsEmployee','IsAdmin']">Trip</a>
          </ng-container>
        </li>
        <li>
          <ng-container *ngIf="securityObject.isAuthenticated">
            <a [routerLink]="['/Vehicle']" class="nav-link" *hasClaim="['test:true','IsEmployee:true']">Vehicle Registration</a>
          </ng-container>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']" class="nav-link" 
          *ngIf="!securityObject.isAuthenticated">Login</a></li>
        <li><a [routerLink]="['/login']" class="nav-link" (click) ="logout()"
          *ngIf="securityObject.isAuthenticated">
          Logout {{securityObject.userName}}</a></li>
      </ul>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </h1>
</div>
